.heroSection{
    width: 100vw;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.heroLeftSection{
    position: fixed;
    z-index: 2;
    background-color: white;
}
.heroRightSection{
    margin-left: 16rem;
}

@media only screen and (max-width: 450px){
    .heroSection{
        display: flex;
    }
}