.navigationSection{
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    padding: 1rem;
}
.toggleNavBar{
    display: none;
}
.navigationSection li{
    list-style-type: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 0.2rem 0.4rem;
    border-radius: 0 0.5rem 0.5rem 0;
}
.navigationSection li:hover{
    animation: appear 1.5s;
}
@keyframes appear{
    from {background: none}
  to {background-color: rgb(123, 182, 123);}
}
.route{
    border-left: 5px solid rgb(123, 182, 123);
}
.route.default{
    color: rgb(82, 117, 82);
}

@media only screen and (max-width: 450px){
    .navigationSection{
        position: fixed;
        background-color: white;
        z-index: 1;
    }
    .toggleNavBar{
        display: inline-block;
        position: absolute;
        top: -4.5rem;
    }
    .navRoutes{
        background-color: white;
        position: fixed;
        left: -100%;
        transition: 0.5s;
    }
    .navRoutes.open{
        left: 0;
        transition: 0.5s;
    }
}