
.app{
  position: relative;
}
pre{
  background-color: rgb(54, 54, 54);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 0 1rem;
  white-space: pre-wrap;
}
code{
  font-size: 0.8rem;
  color: white;
}
.avatarDiv ,.badgeAvatarDiv , .buttonDiv , .floatButtonDiv, .badgeDiv{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container{
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.iframeLarge{
  width: 50rem;
  height: 25rem;
  margin: 2rem 0;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}
.iframeMedium{
  width: 50rem;
  height: 20rem;
  margin: 2rem 0;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}
.iframeSmall{
  width: 35rem;
  height: 15rem;
  margin: 2rem 0;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}

@media only screen and (max-width: 450px){
  .avatarDiv ,.badgeAvatarDiv , .buttonDiv , .floatButtonDiv, .badgeDiv{
    flex-direction: column;
    align-items: flex-start;
  }
}
